node_modules
*.log
*.aes
cypress/results
cypress/reports
cypress/downloads
cypress/screenshots
cypress/videos
cypress/logs
.history
.vscode
env
.DS_Store
cypress/allure-results
cypress/results/*
cypress/results/screenshots
cypress/e2e/examples
.idea
.examples
allure-results
docker-compose.yml
cypress.env.json
